[Desktop Entry]
Name=Recoder
Comment=GTK4 Video Transcoding GUI Application
Exec=recoder
Icon=net.jeena.Recoder
Terminal=false
Type=Application
Categories=AudioVideo;Video;Utility;
StartupNotify=true
