.drop-highlight {
  background: alpha(@accent_color, 0.12);
  border: 2px solid alpha(@accent_color, 0.9);
}

.dim-label {
    font-size: 16px;
    color: @theme_unfocused_fg_color;
}

.dim-icon {
    opacity: 0.3;
    color: @theme_unfocused_fg_color;
}